.event-details{
  overflow: scroll;
  position: absolute;
  z-index: 5;
}

.close-button{
  color: rgb(43, 43, 43) !important;
  background-color: rgba(220, 220, 220, 0.701) !important;
  position: fixed;
  float: right;
}

.edit-button{
  position: fixed;
  float: right;
}

.trash-button{
  position: fixed;
  float: right;
}